<div class = "container">
    <div class = "row">
        <h1>Welcome to <i class="fas fa-book"></i>Bookers!!</h1>
    </div>

    <div class = "row">
        <p>In <i class="fas fa-book"></i>Bookers,</p>
    </div>

    <div class = "row">
        <p>you can share and exchange your opinions , inpressions , and emotions<br>
        about various books!</p>
    </div>

    <div class = "row">
        <li>
            <%= link_to "Log in", new_user_session_path %>
            </li>
    </div>

    <div class = "row">
        <li>
            <%= link_to "Sign up", new_user_registration_path %>
        </li>
    </div>
</div>